/* fonts.css */

/* Fuente Knewake (para el cuerpo y el menú) */
@font-face {
    font-family: 'Knewake'; 
    src: url('../fonts/Knewave/Knewave-Regular.ttf') format('truetype'); 
    font-weight: 400;
    font-style: normal;
}

/* Fuente Rubik Glitch (SOLO para el logo) */
@font-face {
    font-family: 'RubikGlitch'; 
    /* ¡Verifica esta ruta! Debe llevar desde la carpeta 'css' hasta el archivo .ttf */
    src: url('../fonts/Rubik_Glitch/RubikGlitch-Regular.ttf') format('truetype'); 
    font-weight: 400;
    font-style: normal;
}